
Data_science_with_excel/.ipynb_checkpoints/OpenPyXl-checkpoint.ipynb
Data_science_with_excel/.ipynb_checkpoints/Plotly-checkpoint.ipynb
Studies (Algorithms, Books, Mooks, etc.)/Tensorflow/OpenTutorials/.ipynb_checkpoints/00. backdata with pandas-checkpoint.ipynb
Studies (Algorithms, Books, Mooks, etc.)/Tensorflow/OpenTutorials/.ipynb_checkpoints/01. simple Neural Network with TF (lemonade)-checkpoint.ipynb
